html,body {
	height: 100%;
	width: device-width;
	margin: 0;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url("/images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    max-width: 50vw;
}

.slide {
    width: 100%;
    min-height: 100vh;
    background-size: auto 100vh;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    background-position: right;
    background-repeat: no-repeat;
    transition: .8s ease;
    overflow: hidden;
}

.slide1 {
    background-color: grey;
    background-image: url("/images/sfondo-slide1.png"); 
}

.slide2 {
    background-color: black;
}

.container1 {
    height: 100vh;
    width: 40%;
    background-color: #222;
    padding-left: 20px;
    padding-right: auto;
}

.container1:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-left: 10vw solid #222;
    border-top: 200vh solid transparent;
    margin-top: -100%;
    margin-left: 100%;
}

.title {
    display: inline-block;
    color: white;
    font-family: Raleway;
    font-weight: 300;
    font-size: 40px;
}

.title:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: white;
}

.title1 {
    margin-top: 25vh;
    opacity: 0;
    margin-left: 50px;
    transition: .8s ease;
}

.title2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 70px;
    margin-top: 30px;
}

.moved-title1 {
    margin-left: 0;
    opacity: 1;
}

.description {
    color: white;
    font-family: Raleway;
    font-weight: 200;
    font-size: 20px
}

.description1 {
    display: block;
    margin-top: 20px;
}

/* slider immagini */

.slider-immagini {
    padding-top: 30px;
    width: 640px;
    display: block;
    margin: 0 auto;
}

.pictures {
    padding: 0;
}

.pictures input {
    float: left;
    width: 80px;
    height: 60px;
    margin: 0 10px 0 10px;
    margin-top: 530px;
    image-rendering: auto;
    opacity: .5;
    transition: .1s ease;
    cursor: pointer;
    margin-bottom: 50px;
}

.pictures input:first-of-type {
    margin-left: 80px;
}

.pictures input:hover {
    opacity: 1;
}

input:before {
    content: "";
    width: 80px;
    height: 60px;
    display: inline-block;
    background-size: cover;
}

input#img-1:before {
    background-image: url("/images/screenshot1.png")
}

input#img-2:before {
    background-image: url("/images/screenshot2.png")
}

input#img-3:before {
    background-image: url("/images/screenshot3.png")
}

input#img-4:before {
    background-image: url("/images/screenshot4.png")
}

input#img-5:before {
    background-image: url("/images/screenshot5.png")
}

.picture {
    opacity: 0;
    position: absolute;
    transition: .5s ease;
    font-size: 0;
}

input:checked + .picture {
    opacity: 1;
}
